body{
    background-image: url('../background.jpg'); 
    background-size: cover;
}

.harga{
    text-align: right;
    font-weight: 600;
}

.card{
    max-width: 24rem;
}

#btn-cart{
    color: white;
    background-color: rgb(63, 56, 105)
}